<%- include('../partials/header'); %>

    <body>
        <div class="row">
            <div class="col-md-5 center-block" style="float: none; margin: auto">
                <div style="margin-top: 10px" class="card text-center col">
                    <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                        Landlord Management
                    </div>

                    <div class="card-body">
                        <div>
                            <a href="/leaseSystem/certification" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                        width: 300px;
                                        height: 40px;
                                        line-height: 20px;
                                        text-align: center;">
                                certificate estate and agent</a>
                        </div>

                        <div style="margin-top: 10px">
                            <a id="upload" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                        width: 300px;
                                        height: 40px;
                                        line-height: 20px;
                                        text-align: center;
                                    " href="/leaseSystem/landlord/upload">
                                upload estate </a>
                        </div>

                        <div style="margin-top: 10px">
                            <a id="manageEstate" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                        width: 300px;
                                        height: 40px;
                                        line-height: 20px;
                                        text-align: center;
                                    " href="/leaseSystem/landlord/manageEstate">
                                manage estate data </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include('../partials/footer'); %>