<%- include('partials/header') -%>
    <body>
        <div class="container mt-3">
            <!-- <div>
                <h1>test</h1>
            </div> -->
            <div class="row">
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            Search House
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>Search for rental properties.</p>
                            <a id="leaseHouse" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/searchHouse">
                                click
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            Landlord
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>Want to rent a house?</p>
                            <a id="landlord" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;" href="/leaseSystem/landlord">
                                click
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            Agent
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>Housing agency area.</p>
                            <a id="agent" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/agent">
                                click
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            Lease Manage
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>management contract, Manage your own rental properties or View my favorite.</p>
                            <a id="leaseManage" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/leaseManage">
                                click
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        
    </script>

    <%- include('partials/footer') -%>